.formularioRegistro {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.formularioRegistro h2 {
    text-align: center;
}

.formularioRegistro label {
    display: block;
    margin-bottom: 10px;
}

.formularioRegistro input[type="text"],
.formularioRegistro input[type="email"],
.formularioRegistro input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.formularioRegistro button {
    background-color: #eb8f04;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.formularioRegistro button:hover {
    background-color: #ffad42;
}